@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --pixel-size: 4px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: #9fa7e4;
 }

 .map {
    image-rendering: pixelated;
    background-size: 100%;
    width: calc(13 * var(--grid-cell));
    height: calc(10 * var(--grid-cell));
    position: relative;
 }
 
 .character {
    width: calc( var(--grid-cell));
    height: calc( var(--grid-cell));
    position: absolute;
    overflow: hidden;
 }
